FIVEISO_URL=https://panel-adresiniz.example
FIVEISO_SERVER_ID=paneldeki-sunucu-kimligi
FIVEISO_TOKEN=paneldeki-sunucu-tokeni
FXSERVER_EXECUTABLE=C:\FiveM\server\FXServer.exe
FXSERVER_CWD=C:\FiveM\server
FXSERVER_ARGS_JSON=[]
